<h1>Blacklist Words List</h1>

<%= render 'new' %>

<hr />

<h3>Words</h3>

<ul>
<% @profanity_words.each do |profanity_word| %>
    <li><%= profanity_word.word  %></li>
<% end %>
</ul>

<%= paginate @profanity_words %>
